USE [master]
GO
/****** Object:  Database [CompareWebDB]    Script Date: 7/10/2026 3:30:55 PM ******/
CREATE DATABASE [CompareWebDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CompareWebDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\CompareWebDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CompareWebDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\CompareWebDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CompareWebDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CompareWebDB]
GO
/****** Object:  Table [dbo].[CompareResult]    Script Date: 7/10/2026 3:30:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompareResult](
	[ResultId] [int] IDENTITY(1,1) NOT NULL,
	[SessionId] [int] NULL,
	[RowNumber] [int] NULL,
	[KeyValue] [nvarchar](200) NULL,
	[Status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ResultId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CompareSession]    Script Date: 7/10/2026 3:30:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompareSession](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FileNameA] [nvarchar](255) NULL,
	[FileNameB] [nvarchar](255) NULL,
	[FileTypeA] [varchar](20) NULL,
	[FileTypeB] [varchar](20) NULL,
	[TotalRows] [int] NULL,
	[MatchRows] [int] NULL,
	[DifferentRows] [int] NULL,
	[CompareDate] [datetime] NULL,
	[CreatedAt] [datetime] NULL,
	[CompareType] [varchar](50) NULL,
	[PrimaryKeyColumn] [nvarchar](100) NULL,
	[ResultJson] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DifferenceDetail]    Script Date: 7/10/2026 3:30:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DifferenceDetail](
	[DetailId] [int] IDENTITY(1,1) NOT NULL,
	[ResultId] [int] NULL,
	[ColumnName] [nvarchar](100) NULL,
	[ValueFileA] [nvarchar](max) NULL,
	[ValueFileB] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[DetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pengguna]    Script Date: 7/10/2026 3:30:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pengguna](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NomorKepegawaian] [varchar](50) NOT NULL,
	[Nama] [nvarchar](255) NULL,
	[PasswordHash] [varchar](255) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NomorKepegawaian] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Pengguna_NomorKepegawaian]    Script Date: 7/10/2026 3:30:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_Pengguna_NomorKepegawaian] ON [dbo].[Pengguna]
(
	[NomorKepegawaian] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CompareSession] ADD  DEFAULT (getdate()) FOR [CompareDate]
GO
ALTER TABLE [dbo].[CompareSession] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Pengguna] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Pengguna] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[CompareResult]  WITH CHECK ADD FOREIGN KEY([SessionId])
REFERENCES [dbo].[CompareSession] ([Id])
GO
ALTER TABLE [dbo].[DifferenceDetail]  WITH CHECK ADD FOREIGN KEY([ResultId])
REFERENCES [dbo].[CompareResult] ([ResultId])
GO
USE [master]
GO
